<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <center class="center">
      <div id="show-task">
        <h1>Task Name : <%=filename%></h1>

        <div class="desc-task">
          <p>
            <span style="font-size: larger">Details: <br /><br /></span>
            <%=content%>
          </p>
        </div>
      </div>

      <a class="prev" href="/">Previous</a>
    </center>
  </body>
</html>
